#rootGrid {
    background-color: pink !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid black !important;
}

.hFlVyB {
    background-color: #1971c2 !important; 
    box-shadow: 0 0 1px 3px #1971c2 !important;
}